.sidebarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    padding: 20px;
    width: calc(100%-10%);
    border-right: 1px solid #DDD;
    height: 100vh;
}

.sidebarContainer:hover {
    width: 200px;
    /* transition: 0.3s ease-out; */

}

.tab {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 5px; */
    overflow: hidden;
}

.tab p {
    display: none;
    margin: 0 !important;
    transition: opacity 0.3s ease; 
}

.sidebarContainer:hover .tab p {
    display: inline;
    opacity: 1; 
}

.tab > svg {
    font-size: 2rem;
    border-radius: 100%;
    background-color: lightblue;
    font-weight: 300;
}
